chapter_10.flv filter=lfs diff=lfs merge=lfs -text
chapter_11.flv filter=lfs diff=lfs merge=lfs -text
chapter_02.flv filter=lfs diff=lfs merge=lfs -text
chapter_03.flv filter=lfs diff=lfs merge=lfs -text
chapter_04.flv filter=lfs diff=lfs merge=lfs -text
chapter_06.flv filter=lfs diff=lfs merge=lfs -text
chapter_08.flv filter=lfs diff=lfs merge=lfs -text
chapter_01.flv filter=lfs diff=lfs merge=lfs -text
chapter_05.flv filter=lfs diff=lfs merge=lfs -text
chapter_07.flv filter=lfs diff=lfs merge=lfs -text
chapter_09.flv filter=lfs diff=lfs merge=lfs -text
chapter_04.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_05.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_05.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_07.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_08.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_04.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_06.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_08.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_10.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_10.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_11.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_11.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_01.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_03.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_07.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_09.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_01.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_06.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_09.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_02.av1.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_02.h264.mp4 filter=lfs diff=lfs merge=lfs -text
chapter_03.h264.mp4 filter=lfs diff=lfs merge=lfs -text
